<section class="register">
	<form name="myform" ng-submit="register()" novalidate>
		<h1>Please Register to access!</h1>
		<p>Your meetings await!</p>

        <p class="error formerror" ng-show="message">{{message}}</p>

		<input type="firstname" name="firstname" placeholder="First Name" autofocus ng-required="true" 
			ng-model="user.firstname">

		<p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">Please Enter Your First Name.</p>

		<input type="lastname" name="lastname" placeholder="Last Name" ng-required="true" 
			ng-model="user.lastname">

		<p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Please Enter Your Last Name.</p>

		<input type="email" name="email" placeholder="Email" ng-required="true" 
			ng-model="user.email">

		<p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Please enter a valid email.</p>

		<input type="password" name="password" placeholder="Password" 
			ng-model="user.password" ng-required="true">

		<p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Please enter a password.</p>

		<button type="submit" class="btn"
			ng-disabled="myform.$invalid">Register</button>
		<p>or <a href="#/login">Login</a></p>
	</form>
</section>